.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions {
  padding: 2rem;
  margin: 10px auto;
  width:400px;
  height:25vh;
  background-color:#fff;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 0;
}

.options {
  height: 75px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.correct, .correct:hover {
  border-color: green;
}

.incorrect, .incorrect:hover {
  border-color: red
}

#next {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 1rem;
}

#next:hover, .options:hover {
  border-color: royalblue;
}

#question-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 40%;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

body {
  background-color: #61dafb;
}

.header {
  margin-bottom: 0;
}