<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Are you bored?</h1>
  <h3>Here are a few things you can do</h3>

  <ul>
    <li>First Activity: {{activity1}}</li>
    <li>Second Activity: {{activity2}}</li>
    <li>Third Activity: {{activity3}}</li>
  </ul>

  <b> Now go out there and do something! </b>
</body>
</html>